/***********HEADER***********/
.cabecalho{
	background-color: #1A1A1A;
	display: flex;
	justify-content: space-between;
	padding:1em;
	padding-left: 2em;
}

.navMenu{
	display: flex;
	flex-direction: column-reverse;
}

.itemMenu{
	display:inline;
}

.linkMenu{
	color:orange;
	font-size: 2em;
	font-weight: bold;
	margin:0.5em;
	text-decoration: none;
}

/*animação dos links do menu de navegação*/
.linkMenu:hover{
	color:white;	
}

